:root {
  --primary-color: #e10029;
  --primary-hover-color: #a8001f;
  --secondary-color: #ffa800;
  --dark-color: #000000;
  --light-color: #ffffff;
  --neutral-color: #505050;
  --text-color-alt: #3c4045;
  --bg-color: #eaeaea;

  --footer-bg: #3e3e3e;
  --footer-bg-dark: #333333;

  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Gilroy', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1180px;
  padding-left: 0.625em;
  padding-right: 0.625em;
  margin: 0 auto;
}

.container--big {
  max-width: 1440px;
}

a,
button {
  cursor: pointer;
}

/*BUTTON*/

.button {
  border: none;
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 1.2em 2.75em;
  font-size: 0.6875rem;
  font-weight: 800;
  border-radius: 16px;
  text-transform: uppercase;
  transition: all 0.3s linear;

  &:hover {
    background-color: var(--primary-hover-color);
  }
}

.button--light {
  background-color: var(--light-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  &:hover {
    color: var(--light-color);
  }
}

/*HEADING*/

.heading {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 1.2;
}

/* TITLE */
.title {
  font-weight: 500;
  font-size: 3.75rem;
  text-transform: uppercase;
  color: var(--dark-color);
}

/*TEXT*/

.text {
  font-size: 1.125rem;
  line-height: 1.5;
}

/*INPUT*/

.input {
  border: none;
  border-radius: 16px;
  padding: 1em;
  font-size: 0.75rem;
}

.input--border {
  border: 1px solid var(--neutral-color);
}

/*NAV*/

.nav {
  @media (max-width: 45em) {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;

  @media (max-width: 45em) {
    align-items: center;
  }
}

.nav__logo-text {
  font-size: 0.6875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--neutral-color);
  letter-spacing: 0.13em;
  line-height: 1;

  @media (max-width: 45em) {
    font-size: 0.7rem;
    max-width: 15em;
  }
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;

  @media (max-width: 45em) {
    display: none;
  }
}

.nav__link {
  display: block;
  color: var(--dark-color);
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: underline;
  padding: 1.4em 1.85em 1.75em;
  transition: background-color 0.3s linear;
  text-underline-offset: 0.18em;
  text-transform: uppercase;
  line-height: 1;

  &:hover {
    background-color: var(--bg-color);
  }
}

.nav__socials {
  display: flex;
  gap: 1.32em;
  align-self: center;

  @media (max-width: 45em) {
    display: none;
  }
}

.nav__arrow-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  bottom: 0;
  left: 8.75em;
  transform: translate(-50%, 100%);

  border-top: 0.6em solid var(--light-color);

  @media (max-width: 45em) {
    left: 5em;
  }
}

.nav__burger {
  display: none;
  background-color: transparent;
  border: none;
  width: 2.5em;
  padding: 0;

  @media (max-width: 45em) {
    display: block;
  }
}

/*LOGO*/

.logo img {
  @media (max-width: 45em) {
    width: 10em;
  }
}

/*BASE_DATA*/

.base-data {
  background-color: var(--bg-color);
  padding-top: 2.25em;
  padding-bottom: 2.8em;

  @media (max-width: 45em) {
    padding-top: 1em;
    padding-bottom: 1.2em;
  }
}

.base-data__container {
  display: flex;
  align-items: center;

  @media (max-width: 45em) {
    justify-content: space-between;
  }
}

.base-data__contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 3.3em;

  @media (max-width: 45em) {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    align-items: start;
  }
}

.base-data__contacts > :first-child {
  display: flex;
  flex-direction: column;
  line-height: 1.15;
  margin-top: 1.1em;
  align-self: end;

  @media (max-width: 45em) {
    margin-top: 0;
    align-self: start;
  }
}

.base-data__contacts > :first-child span {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  white-space: nowrap;

  @media (max-width: 45em) {
    font-size: 1rem;
  }
}

.base-data__contacts > :first-child b {
  font-weight: 700;
  font-size: 0.6875rem;

  @media (max-width: 45em) {
    font-size: 0.5rem;
  }
}

.base-data__contacts > div:nth-child(2) {
  background-color: var(--neutral-color);
  width: 1px;
  align-self: stretch;
  margin-right: 1.75em;
  margin-left: 1.375em;

  @media (max-width: 45em) {
    margin: 0.2em 0;
    height: 1px;
    width: 100%;
  }
}

.base-data__contacts > :last-child {
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 500;

  @media (max-width: 45em) {
    font-size: 0.5rem;

    br {
      display: none;
    }
  }
}

.base-data__calls {
  display: flex;
  align-items: center;
  gap: 1.25em;

  @media (max-width: 45em) {
    display: none;
  }
}

.advantages {
  margin-bottom: 6em;
}

.advantages-catalog {
  margin: 1.6em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 500;
  font-size: 0.9375rem;
  padding: 0;
}

.advantages-catalog__item {
  transition: all 0.3s linear;
  &:hover {
    color: var(--primary-hover-color);
  }
}

.advantages__inner {
  background-image: url('../images/advantages/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 75px;
  margin-bottom: 3.85em;
}

.advantages__title {
  font-weight: 900;
  font-size: 3.4375rem;
  text-transform: uppercase;
  max-width: 9em;
  color: #1f1f1f;
  padding: 2.1em 0 1.3em;
  line-height: 1.25;
}

.advantages__title span {
  font-weight: 300;
}

.advantages__content {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  padding-bottom: 5em;
}

.advantages__content span {
  font-weight: 500;
  display: block;
  margin-bottom: 0.55em;
  color: var(--neutral-color);
}

.advantages__content-app {
  display: flex;
  background-color: var(--light-color);
  border-radius: 40px;
  width: 18em;
  height: 3.5em;
  margin-top: 1.1em;
}

.advantages__content-btn {
  font-size: 1rem;
  font-weight: 900;
  padding: 0 1.3em;
  margin: 0.15em 0.2em 0.1em 0.15em;
  border-radius: 40px;
}

.advantages__content-sale {
  font-size: 0.875rem;
  margin-left: 1.1em;
  font-weight: 400;
}

.advantages__content-saletitle {
  font-weight: 900;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--primary-color);
  display: block;
  padding: 0.95em 0 0;
  line-height: 1;
}

.advantages__content-saledate {
  line-height: 1;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.advantages__condition-list {
  font-weight: 600;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: var(--dark-color);
  display: flex;
  justify-content: space-between;
}

.advantages__condition-item {
  align-items: center;
  display: flex;
}

.advantages__condition-desc {
  max-width: 7.5em;
  line-height: 1.25;
  margin-left: 1.17em;
}

/* SERVICES */

.services__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.1em;
}

.services__item {
  font-size: 1.25rem;
  height: 15em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 41px;
  display: flex;
  align-items: end;
}

.services__content {
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 7.4em;
  padding: 1.9em 2.3em 2em 3em;
  transition: all 0.3s linear;
}

.services__content:has(svg:hover),
.services__content:has(.services__content-title a:hover) {
  background-color: rgba(255, 255, 255, 0.9);
}

.services__content-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  max-width: 11em;
  color: var(--neutral-color);
  text-transform: uppercase;
  & a:hover {
    color: var(--dark-color);
  }
}

.services__content-title a {
  transition: all 0.2s linear;
}

.services__content-title--smalwidth {
  max-width: 8em;
}

.services__content-price {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8;
}

.services__content-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services__content-link svg {
  fill: var(--primary-color);
}
.services__content-link {
  & rect,
  & path {
    transition: all 0.3s linear;
  }
  &:hover svg,
  &:hover path,
  &:hover rect {
    fill: var(--primary-hover-color);
  }
}

/*SIGNUP*/
.signup {
  margin-bottom: 4.5em;
}

.signup__title {
  padding: 2.2em 0 1.5em;
}

/*FORM*/

.form-section {
  padding-top: 5.75rem;
  margin-top: -5.75rem;
}
.form-section__inner {
  position: relative;
  background: linear-gradient(180deg, #6cb0ff 0%, #e1f2ff 100%);
  border-radius: 70px;
}

.form-section__title {
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--light-color);
  max-width: 15.6em;
  line-height: 1.2;
}

.form-section__subtitle {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 2em;
}

.form-section__inner-img {
  position: absolute;
  bottom: 0;
  right: 1.68em;
}

.form-section__title span {
  font-weight: 900;
}

.form-section__form {
  display: flex;
  align-items: center;
  padding-bottom: 6em;
}

.form-section__form-input {
  border: none;
  background-color: var(--light-color);
  border-radius: 15px;
  padding: 0.55em 1.2em;
  margin-right: 0.5em;
  outline: var(--light-color);
}

.form-section__from-input::placeholder {
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--text-color-alt);
}

/*EXAMPLES*/

.examples {
  margin-bottom: 4em;
}

.examples__title {
  text-align: center;
  margin-bottom: 0.55em;
}

.examples__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2em 2.5em;
}

.examples__content-img {
  border-radius: 40px;
  width: 100%;
}

.examples__content-inner {
  border: 1px solid #d3d3d3;
  border-radius: 40px;
  padding-top: 4em;
  padding: 4em 3.9em 1.8em;
  margin-top: -4em;
}

.examples__content-title {
  color: var(--neutral-color);
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.5em 0;
}

.examples__content-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.examples__content-price {
  font-weight: 700;
  font-size: 2rem;
}

/*ABOUT*/

.about {
  margin-bottom: 4em;
}

.about__title {
  text-align: center;
  margin-bottom: 0.4em;
}

.about__text {
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--neutral-color);
  margin-bottom: 1.35em;
}

.about__subtitle {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 1.34em;
}

.about__list {
  margin-bottom: 3em;
}

.about__list-item {
  position: relative;
  padding-left: 1.4em;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.5;
  color: var(--neutral-color);
  margin-bottom: 1.4em;
}

.about__list-item::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  width: 0.55rem;
  height: 0.55rem;
  background: var(--secondary-color);
  left: 0;
  top: 0.48em;
}

.about__employee {
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.about__emploayee-img {
  border-radius: 30%;
}

.about__emploayee-name {
  display: block;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark-color);
  max-width: 11em;
  margin: 1em auto 0.1em;
  line-height: 1.3;
}

.about__emploayee-years {
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--neutral-color);
}

/*QUESTIONS*/

.questions {
  margin-bottom: 4em;
}

.questions__img {
  right: 6em;
}

.questions__title {
  padding-top: 1.7em;
}
.questions__form {
  padding-bottom: 5em;
}

/*FAQ*/

.faq__title {
  text-align: center;
}

.faq__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.75em;
}

.faq__grid-item {
  padding-left: 3em;
}

.faq__grid-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--dark-color);
  position: relative;

  &::before {
    content: url(../images/red-arrow.svg);
    position: absolute;
    transform: rotate(-90deg);
    left: -3em;
    top: 0;
  }
}

.faq__grid-text {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in;
  color: var(--text-color-alt);
  font-size: 1rem;
  font-weight: 500;

  p {
    padding-top: 1.25em;
  }
}

.faq__grid-item.open .faq__grid-text {
  max-height: 100px;
}

.faq__grid-item.open .faq__grid-title {
  font-weight: 700;
  &::before {
    content: url(../images/red-arrow.svg);
    position: absolute;
    transform: rotate(0deg);
    left: -3em;
    top: 0;
  }
}

/*FOOTER*/

.footer {
  background-color: var(--footer-bg);
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  color: var(--light-color);
}

.footer__logo {
  color: #707070;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;

  & img {
    margin-bottom: 3em;
  }
}

.footer__container {
  display: flex;
}

.footer__list {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.2;
  margin-top: 0.48em;
  margin-left: 4.2em;
  padding: 0;
}

.footer__list--services {
  text-transform: none;
  margin-left: 3.33em;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__list-item {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  margin-bottom: 0.58em;
}

.footer__bg-hack {
  margin-top: -2.5em;
  margin-bottom: -2.5em;
  display: flex;
  background-color: var(--footer-bg-dark);
  margin-left: auto;
}

.footer__contacts {
  display: flex;
  align-self: center;
  gap: 1.25em;
  /*padding: 0 2.3125em;*/
  padding-left: 2.3125em;
  padding-right: 2.3125em;

  & > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  & > div:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto;
    line-height: 1;
    column-gap: 1em;

    span:nth-child(1) {
      font-size: 1.5625rem;
      letter-spacing: 0.03em;
      font-weight: 300;
    }

    span:nth-child(2) {
      font-size: 0.625rem;
      font-weight: 700;
      color: #979797;
    }

    span:nth-child(3) {
      font-size: 0.75rem;
      font-weight: 500;
    }
  }

  & > div:nth-child(3) {
    width: 1px;
    background-color: #bdced3;
  }

  & > div:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3125em;
  }
}
